html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    background: url("../images/Abstract_4.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.signInOptions { position: relative; }
div.inlineCheckbox { display: inline-block; }
a.forgetPassword { position: absolute; right: 0; margin: 10px 0 10px 0; }

footer {
    position: absolute;
    left: 0;  right: 0;
    bottom: 0;
}