html { height: 100%; box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
    background: url("../images/Abstract_2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

input[disabled] { cursor: default; }

div.form-group { position: relative; }

div.form-group button.dropdown-toggle {
    position: absolute;
    top: 0; left: 12;
    border-radius: 5px 0 0 5px;
    width: 100px;
}

div.form-group input.dropdown-textbox {
    width: calc(100% - 100px);
    border-radius: 0 5px 5px 0;
    margin-left: 100px;
}

textarea {
    resize: none;
}

label.checkbox-inline {
    padding: 0 10px 0 0;
}

.footer {
    position: absolute;
    right: 0; bottom: 0;
    left: 0;
}