//- main.pug
title= title
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet", href="/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
link(rel="stylesheet", href="/css/custom_styles.css")
link(rel="stylesheet", href="/css/" + extendedStyle)
script(src="/js/jquery-3.2.1.min.js")